<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="'./blogs'">ბლოგის სივრცე</button>
      </mat-menu>
      <div class="home-button" [routerLink]="''">My Lost Relative</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
      <button *ngIf="!isLoggedIn" mat-flat-button [routerLink]="'./auth'">
        ავტორიზაცია
      </button>
      <div
        *ngIf="isLoggedIn"
        class="user"
        [matMenuTriggerFor]="logoutMenu"
        fxLayout="row"
        fxLayoutAlign="end center"
        fxLayoutGap="8px"
      >
        <img class="user-avatar" src="assets/images/avatar.jpeg" />
        <div>{{ clientInfo?.username }}</div>
      </div>
      <mat-menu #logoutMenu="matMenu">
        <button mat-menu-item [routerLink]="'/user/cabinet'">
          ჩემი გვერდი
        </button>
        <button mat-menu-item (click)="logOut()">გამოსვლა</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet class="outlet"></router-outlet>

<button
  *ngIf="isLoggedIn"
  mat-fab
  class="add-button"
  [routerLink]="'/user/add'"
>
  <mat-icon>add</mat-icon>
</button>
