:host {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
}

.toolbar {
  position: fixed;
  z-index: 1;
}

.home-button {
  cursor: pointer;
}

.user {
  cursor: pointer;
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.outlet {
  margin-top: 64px;
}
